@import "../../../Downloads/6184955-be1a83942fb9bdfb31878bda0066d7c96f01defd/compass";
@mixin serif {
  font-family: "bitter",serif;
}

@mixin sans {
  font-family: "PT Sans",sans-serif;
}

@mixin icon {
  font-family: "icomoon";
}

@font-face {
	font-family: 'icomoon';
	src:url('../../../Downloads/6184955-be1a83942fb9bdfb31878bda0066d7c96f01defd/fonts/icomoon.eot');
	src:url('../../../Downloads/6184955-be1a83942fb9bdfb31878bda0066d7c96f01defd/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
url('../../../Downloads/6184955-be1a83942fb9bdfb31878bda0066d7c96f01defd/fonts/icomoon.woff') format('woff'),
url('../../../Downloads/6184955-be1a83942fb9bdfb31878bda0066d7c96f01defd/fonts/icomoon.ttf') format('truetype'),
url('../../../Downloads/6184955-be1a83942fb9bdfb31878bda0066d7c96f01defd/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

$primary: #3f70b4;
$primaryShadow: #254169;

$accent: #fd3d3f;
$accentShadow: #942425;

$money: #98C06D;

$darkGray: #414242;
$midGray: #acacac;
$lightGray: #ebebeb;

.color1 {
  background: $primary;
}

.color2 {
  background: $primaryShadow;
}
.color3 { 
  background: $accent;
}
.color4 {
  background: $accentShadow;
}
.color5 {
  background: $lightGray;
}
.color6 {
  background: $midGray;
}
.color7 {
  background: $darkGray;
}

.color8 {
  background: $money;
}

h1 {
  @include serif;
  color: $darkGray;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  @include serif;
  color: $primary;
  font-size: 18px;
  font-weight: 400;
}

h3 {
  @include sans;
  color: $midGray;
  font-size: 18px;
  font-weight: 400;
  
}

h4 {
  @include serif;
  color: $darkGray;
  font-size: 14px;
  font-weight: 700;
}

h5 {
  @include sans;
  color: $darkGray;
  font-size: 12px;
  font-weight: 700;
}

h6{
  @include sans;
  color: $midGray;
  font-size: 12px;
  font-weight: 400;
}

p {
  @include sans;
  color: $darkGray;
  font-size: 14px;
}

.secondary p {
  @include serif;
}

a {
  color: $primary;
}

small {
  @include sans;
  font-size: 12px;
  font-weight: 700;
}

li {
  @include sans;
  font-size: 18px;
  color: $midGray;
}

.callout {
  padding: 20px;
  border: 1px solid $lightGray;
  @include background-image(linear-gradient(white, #F4F5FA));
}

hr {
  background-color: lighten($midGray, 20%);
  border: 0;
  height: 1px;
  margin: 40px 0;
}
.container {
margin: 0 7.14286%;
}

.header {
  padding: 40px 0;
    @include background-image(linear-gradient(white, #F4F5FA));
}

section {
  padding: 40px 0;
}

.swatch {
  @include border-radius(500px);
  @include box-sizing(border-box);
  padding: 66px;
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  @include box-shadow(0 3px 20px lighten($midGray,10%), 0 2px 2px $midGray);
  border: 5px solid white;
  text-indent: -9999px;
  &:hover{
     text-indent: -30px; 
    }
}

input[type="text"], textarea, input[type="email"], input[type="tel"], input[type="url"], input[type="password"], input[type="search"], input[type="date"], input[type="datetime"], input[type="month"], input[type="week"], input[type="datetime-local"], input[type="color"] {
  @include sans;
display: block;
outline: 0;
font-weight: 400;
 @include box-sizing(border-box);
padding: 8px 16px;
font-size: 14px;
line-height: 1.6;
 @include border-radius(5px);
border: 1px solid $midGray;
background: white;
width: 217px;
position: relative;
}

input[type="number"] {
   @include sans;
display: block;
outline: 0;
font-weight: 400;
 @include box-sizing(border-box);
padding: 8px 16px;
font-size: 14px;
line-height: 1.6;
 @include border-radius(5px);
border: 1px solid $midGray;
background: white;
width: 80px;
}


label {
  @include sans;
  font-size: 14px;
  font-weight: 700;
  float: left;
  padding-right: 10px;
  padding-top: 10px;
}

label[for="file"]{
  padding-top: 0px;
}

.error {
  color: #fdaa34;
}

.btnLarge {
  position: relative;
  display: inline-block;
  padding: .6em;
  color: #fff;
  font-size: .875em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: $accent;
  border: 1px solid $accentShadow;
  border-radius: 5px;
  @include box-shadow(
    0 2px 0px 0px $accentShadow);
  @include transition(all .1s ease-in-out);
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &:before {
    height: 1px;
    background: rgba(white, 0.4);
  }
    &:hover {
    background-color: lighten($accent, 2%);
    }
    &:active {
    top: .15em;
    background-color: lighten($accent, 6%);
    @include box-shadow(
    none);
    }
}


.btnSmall {
  position: relative;
  display: inline-block;
  padding: 7px 15px;
  color: #fff;
  font-size: .750em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: $primary;
  border: 1px solid $primaryShadow;
  border-radius: 5px;
  @include box-shadow(
    0 2px 0px 0px $primaryShadow);
  @include transition(all .1s ease-in-out);
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &:before {
    height: 1px;
    background: rgba(white, 0.4);
  }
    &:hover {
    background-color: lighten($primary, 2%);
    }
    &:active {
    top: .15em;
    background-color: lighten($primary, 6%);
    @include box-shadow(
    none);
    }
}

.btnNeutral {
  position: relative;
  display: inline-block;
  padding: 7px 15px;
  color: $darkGray;
  font-size: .750em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: $lightGray;
  border: 1px solid darken($lightGray, 20%);
  border-radius: 5px;
  @include box-shadow(
    0 2px 0px 0px darken($lightGray, 20%));
  @include transition(all .1s ease-in-out);
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &:before {
    height: 1px;
    background: rgba(white, 0.4);
  }
    &:hover {
    background-color: lighten($lightGray, 1%);
    }
    &:active {
    top: .15em;
    background-color: lighten($lightGray, 3%);
    @include box-shadow(
    none);
    }
}


.field {
  padding: 20px 0px;
}

fieldset {
  margin: 40px 0;
}